.CatagerisItem-Container{
    flex: 1;
    margin: 3px;
    position: relative;
    min-width: 30rem;
}

.CatagerisItem-Image{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.CatagerisItem-Info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.CatagerisItem-Title{
    color: white;
    margin-bottom: 20px;
}

.CatagerisItem-Button{
    border: none;
    padding: 10px;
    background-color: white;
    color: grey;
    cursor: pointer;
    font-weight: 600;

}


