/* add banner
 */

 .addbanner-container{
    display: flex;
    justify-content: center;
    }
    
    .addbanner-viewbutton{
        display: flex;
        justify-content: flex-end;
    }
    
    .addbanner-viewbutton button{
        background-color: black;
        color: white;
        border: none;
        font-size: 19px;
        font-weight: 900;
        margin: 0.5rem;
        padding: 1rem 2rem;
        border-radius: 1rem;
    
    }
    
    .addbanner-box{
        min-width: 50%;
       min-height: 80vh;
        border: 8px solid rgb(139, 137, 137);
        margin: 3rem 0rem;
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    }
    
    .addbanner-box-title{
        border-bottom: 1px solid grey;
    }
    
    .addbanner-box-title h1{
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-family: fantasy;
    }
    
    .addbanner-box-data{
        display: flex;
        flex-direction: column;
        margin: 2rem ;
    }
    
    .addbanner-box-data text{
        font-size: 20px;
        font-weight: 600;
        color: rgb(91, 94, 91);
    }
    
    .addbanner-box-data input{
        width: 80%;
        font-size: 20px;
    }
    
    
    .addbanner-box-button{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
       
    }
    
    .addbanner-box-button button{
        width: 20vw;
        height: 5vh;
        font-size: 20px;
        border: none;
        font-weight: 600;
        background-color: rgb(59, 85, 59);
        color: white;
    }

    .addbanner-img{
        width: 15rem;
    }
    
    @media screen and (max-width:500px){
        .addbanner-box-button button{
            width: 40vw;
        }
    }

/* 
    show banner
     */
    
    

     .showbanner-container{
        display: flex;
        justify-content: center;
    }
    
    .showbanner-box{
        margin: 2rem;
        border: 2px solid black;
        min-width: 80%;
    }
    
    .showbanner-addproduct-btn{
        display: flex;
        justify-content: flex-end;
    }
    
    .showbanner-addproduct-btn button{
        background-color: black;
        color: white;
        border: none;
        font-size: 19px;
        font-weight: 900;
        margin: 0.5rem;
        padding: 1rem 2rem;
        border-radius: 1rem;
    }
    
    .showbanner-title{
        display: flex;
        justify-content: center;;
        background-color: rgba(168, 167, 166, 0.699);
        font-weight: 900;
        font-family: monospace;
        padding: 1rem 0rem;
    }
    
    .showbanner-divtable{
        overflow-x: auto;
    }
    
    .showbanner-table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    
      }
      
     .showbanner-table td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 10px 40px;
      }
    
    .showbanner-table tr:nth-child(even) {
        background-color: #dddddd;
      }
    
    .showbanner-table button{
        font-weight: 900;
        padding: 0.5rem 1rem;
    }

    .showbanner-img{
        width: 7rem;
    }
    
    @media screen and (max-width:1000px) {
        .showbanner-box{
            width:100%;
        }
    }
    
    @media screen and (max-width:850px) {
        .showbanner-box{
            margin: 2rem 0rem;
        }
    }